.level-wrapper {
  opacity: 1;
}

.level-wrapper.loading {
  opacity: 0;
}

.level-wrapper > .level-content {
  position: relative;
  max-height: 100vh;
}

.level-wrapper > .level-content > img {
  height: 99vh;
  opacity: 0;
  transition: all .5s;
}

.level-wrapper > .level-content > img.loaded {
  opacity: 1;
}

.level-wrapper > .level-content > .marker {
  --posX: 0;
  --posY: 0;
  --radius: 25px;
  position: absolute;
  width: calc(2 * var(--radius));
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 3px solid white;
  left: calc(var(--posX) - var(--radius));
  top: calc(var(--posY) - var(--radius));
}

.level-wrapper > .level-content > .drawer-wrapper {
  --posX: 0;
  --posY: 0;
  position: absolute;
  left: calc(var(--posX) + 2.5rem);
  top: calc(var(--posY) + .7rem);
}

.level-wrapper > .level-content > .found-marker {
  --posX: 0;
  --posY: 0;
  --radius: 20px;
  position: absolute;
  width: calc(2 * var(--radius));
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 3px solid red;
  left: calc(var(--posX) - var(--radius));
  top: calc(var(--posY) - var(--radius));
}