.level-wrapper {
  opacity: 1;
}

.level-wrapper.loading {
  opacity: 0;
}

.level-content-wrapper {
  display: flex;
  margin: 3rem 0;
}

.level-wrapper > .level-content-wrapper > .level-content {
  position: relative;
  max-width: 85vw;
  min-width: 800px;
  margin: 0 auto;
  border: 10px solid var(--neutral-color);
  outline: 3px solid var(--primary-color);
  border-radius: 1px;
}

.level-wrapper > .level-content-wrapper > .level-content > img {
  cursor: url('../../../assets/circle-and-cursor-arrow.png') 15 15, default;
  max-width: inherit;
  min-width: inherit;
  opacity: 0;
  transition: all .5s;
  border-radius: 5px;
}

.level-wrapper > .level-content-wrapper > .level-content > img.loaded {
  opacity: 1;
}

.level-wrapper > .level-content-wrapper > .level-content > .drawer-wrapper > .marker {
  --radius: 18px;
  width: calc(2 * var(--radius));
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  box-sizing: border-box;
  border: 4px solid black;
  margin-left: calc(-1 * var(--radius));
  margin-top: calc(-1 * var(--radius));
}

.level-wrapper > .level-content-wrapper > .level-content > .drawer-wrapper {
  --posX: 0;
  --posY: 0;
  position: absolute;
  left: calc(var(--posX));
  top: calc(var(--posY));
}

.level-wrapper > .level-content-wrapper > .level-content > .found-marker {
  --posX: 0;
  --posY: 0;
  --radius: 26px;
  position: absolute;
  width: calc(2 * var(--radius));
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  border: 3px solid red;
  left: calc(var(--posX) - var(--radius));
  top: calc(var(--posY) - var(--radius));
}

.timer {
  justify-self: flex-end;
  font-size: 2rem;
}

.mouse-pointer {
  pointer-events: none;
  --posX: 0;
  --posY: 0;
  --radius: 20px;
  position: absolute;
  width: calc(2 * var(--radius));
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  border: 3px dashed white;
  left: calc(var(--posX));
  top: calc(var(--posY));
  margin-left: calc(-1 * var(--radius));
  margin-top: calc(-1 * var(--radius));
}