.level-header {
  position: relative;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.level-header > .characters-container {
  display: flex;
  gap: 1rem;
}

.level-header > .characters-container > .character-wrapper {
  display: grid;
  place-items: center;
  text-align: center;
  width: 50px;
}

.level-header > .characters-container > .character-wrapper.found {
  opacity: 0.3;
}

.level-header > .characters-container > .character-wrapper > img {
  width: inherit;
}

.level-header > .name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}

