:root {
  --neutral-color: #101820ff;
  --primary-color: #16a34a;
  --primary-highlight-color: hsla(142, 76%, 36%, 0.1);
  --text-color: white;
  --subdued-color: rgb(209, 209, 209);
}

a {
  text-decoration: none;
}